body{
    background-color: aquamarine;
}
.container{
display: grid;
grid-template-columns: auto auto auto auto;
height: 150px;
width: 100%;
background-color: chocolate;
border: 1px solid red;
}
.row1,.row2,.row3,.row4{
    border: 1px dotted blue;
}
.logo{
    height: 100px;
    width: 100px;
}
.row1{
    grid-column: 1/13;
    grid-row:1/2;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.row2{
    grid-column: 1/13;
    grid-row: 2/3;
    background-color: rgb(4, 6, 7);
    height: 70px;
    color: white;
    border: 1px solid white;

}
ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
}
li.hover{
    background-color: cadetblue;
}