body{
    background-color:azure;
}
.container{
    background-color: cadetblue;
    height: 500px;
    border: 2px solid red; 
    padding: 20px;
    box-sizing:border-box;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
}

.child1,.child2,.child3,.child4
{
 height: 100px;
 width: 100px;
color:bisque;
border: 2px dotted coral;
margin: 20px;
}
div p{
    background-color: yellow;
}

#child1{
    background-color: yellow;
}
.myclass{
    background-color: violet;
}
.child1{
    background-color: brown;
}
.child2{
    background-color: chocolate;
}
.child3{
    background-color: red;

}
.child4{
    background-color: crimson;
}